body {
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

#info {
	color:#000;
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}

/* Surgical toolbar menu icon */

.toggle-nav-button {
	position: absolute;
	height: 4.45em;
	width: 4.45em;
	top: 10px;
	right: 0;
	padding: 10px;
	color: #337ab7;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px 0 0 5px;
}

.toggle-nav-button:hover{
	background-color: #f2f2f2;
	color: #28679E;
}

/* Surgical toolbar menu tools */

.toolbar-button {
	padding: 10px;
	color: #28679E;
	border-bottom: 1px solid #e7e7e7;
	font-size: 12px;
	font-family: Lucida Grande, sans-serif;
  font-weight: 400;
}

.toolbar-button:hover{
	color: #1D598C;
	background-color: #fff;
}

.sutures,
.sutures:hover,
.sutures.active,
.sutures:focus {
  border:none;
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  font-family: Lucida Grande, sans-serif;
  color: #28679E;
}

.btn-group>.btn.sutures:hover,
.open>.dropdown-toggle.btn-default.sutures:hover,
.open>.dropdown-toggle.btn-default.sutures:active,
.open>.dropdown-toggle.btn-default.sutures:focus {
  color: #28679E;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}


/* Dat.gui positioning */

#dat-gui-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

/* customise DAT.GUI */

.guidat {
  color: #515151;
  opacity: 0.97;
  text-align: left;
  float: right;
/*  margin-right: 20px;
  margin-bottom: 20px;*/
  margin-right: 0;
  margin-bottom: 5px;
  background-color: #fff;
}

.guidat,
.guidat input {
  font: 12px Lucida Grande, sans-serif;
}

a.guidat-toggle:link,
a.guidat-toggle:visited,
a.guidat-toggle:active {
  text-decoration: none;
  cursor: pointer;
  color: #515151;
  background-color: #e7e7e7;
  text-align: center;
  display: block;
  padding: 5px;
  display: none; /* Get rid of "Close Controls" button */
}

a.guidat-toggle:hover {
  background-color: #ddd;
}

.guidat-controller {
  padding: 3px;
  height: 100%;
  clear: left;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}

.guidat-controller,
.guidat-controller input,
.guidat-slider-bg,
.guidat-slider-fg {
  -moz-transition: background-color 0.15s linear;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}

.guidat-controller.boolean:hover,
.guidat-controller.function:hover {
  background-color: #ddd;
}

.guidat-controller input {
  float: right;
  outline: none;
  border: 0;
  padding: 4px;
  margin-top: 2px;
  background-color: #e7e7e7;
}

.guidat-controller select {
  margin-top: 4px;
  float: right;
}

.guidat-controller input:hover {
  background-color: #f2f2f2;
}

.guidat-controller input:focus,
.guidat-controller.active input {
  background-color: #fff;
  color: #515151;
}

.guidat-controller.number {
  border-left: 5px solid #00aeff;
}

.guidat-controller.string {
  border-left: 5px solid #1ed36f;
}

.guidat-controller.string input {
  border: 0;
  color: #1ed36f;
  margin-right: 2px;
  width: 148px;
}

.guidat-controller.boolean {
  border-left: 5px solid #54396e;
}

.guidat-controller.function {
  border-left: 5px solid #e61d5f;
}

.guidat-controller.number input[type=text] {
  width: 35px;
  margin-left: 5px;
  margin-right: 2px;
  color: #00aeff;
}

.guidat .guidat-controller.boolean input {
  margin-top: 6px;
  margin-right: 2px;
  font-size: 20px;
}

.guidat-controller:last-child {
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.guidat-propertyname {
  padding: 5px;
  padding-top: 7px;
  cursor: default;
  display: inline-block;
}

.guidat-controller .guidat-slider-bg:hover,
.guidat-controller.active .guidat-slider-bg {
  background-color: #f2f2f2;
}

.guidat-controller .guidat-slider-bg .guidat-slider-fg:hover,
.guidat-controller.active .guidat-slider-bg .guidat-slider-fg {
  background-color: #52c8ff;
}

.guidat-slider-bg {
  background-color: #e7e7e7;
  cursor: ew-resize;
  width: 40%;
  margin-top: 2px;
  float: right;
  height: 21px;
}

.guidat-slider-fg {
  cursor: ew-resize;
  background-color: #00aeff;
  height: 21px;
}
